.page-login {
  padding: 50px 0;
  min-height: calc(100vh - 430px);


  @media (min-width: 768px) {
    padding: 50px 0 100px;
    background-color: #007bff;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}