.goals {
  background-image: url("../../assets/images/goals/bg.svg");
  background-position: 0 500px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0 100px;

  @media (min-width: 1200px) {
    background-size: 100% auto;
  }

  &__title {
    margin-bottom: 100px;
  }

  &__list {
    display: grid;
    gap: 50px;
    margin-bottom: 50px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      max-width: 90%;
    }
  }

  &__item {
    background-color: #ffffff;
    border-radius: 10px;
    color: #292f36;
    box-shadow: 0 5px 25px rgb(0 96 199 / 30%);
    display: flex;
    flex-direction: column;
    line-height: 16px;
    padding: 32px;

    &-figure {
      width: 60px;
      height: 60px;
      margin-bottom: 40px;
    }

    &-title {
      text-align: left;
      margin-bottom: 16px;
    }

    &-text {
      text-align: left;
      margin-bottom: 30px;
    }

    &--with-ico {
      @media (min-width: 576px) {
        position: relative;

        &::after {
          position: absolute;
          content: '';
          right: -50px;
          top: -140px;
          width: 257px;
          height: 264px;
          background: url("../../assets/images/goals/women-ico.svg") no-repeat center/contain;
        }
      }
    }
  }
}